# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.layout
*.cbp
*.depend
*.lnk
*.sln
*.tlog
*.ilk
*.json
*.filters
*.vcxproj
*.user
*.recipe
*.idb
*.pdb
*.sqlite
*.log
*.vsidx
PrinciplesPracticeUsing_cpp/Oi,Mundo\!/.vs/Oi,Mundo\!/v17/.wsuo
PrinciplesPracticeUsing_cpp/Oi,Mundo\!/.vs/Oi,Mundo\!/v17/.suo
*.lock
PrinciplesPracticeUsing_cpp/bjC3/bjc3test000/.vs/bjc3test000/v17/.suo
PrinciplesPracticeUsing_cpp/bjC3/bjc3test001/.vs/bjc3test001/v17/.suo
PrinciplesPracticeUsing_cpp/bjC6AndbjC7/std_lib_facilities.h
PrinciplesPracticeUsing_cpp/bjC6AndbjC7/main.cpp
PrinciplesPracticeUsing_cpp/bjC6AndbjC7/.vs/bjC6AndbjC7/v17/.wsuo
PrinciplesPracticeUsing_cpp/bjC6AndbjC7/main.cpp
PrinciplesPracticeUsing_cpp/bjC6AndbjC7/std_lib_facilities.h
